
// Dimensions
$top-bar-height: 50px;

// Colors, mc = monochromatic
$mc-blue-300: #00799F;
$mc-blue-400: #215A6C;
$mc-blue-500: #003F53;
$mc-red-500: #600A21;

// Etc.
$font-stack: 'Raleway', sans-serif;
$alternative-font-stack: 'Montserrat', 'Raleway', sans-serif;
$bezier: 180ms cubic-bezier(.62, 0, .38, 1);
$mbp: 720px;
$mbp-2: 910px;
